h4, h5 {
	color: orange;
}
#letterPlaceHolder {
	height: 30px;
	width: 100%;
	/*float: left;*/
}
#userCurrentGuess {
	width: 10%;
	margin:auto;
}

#picture {
	height: 200px;
	width: 100%;
}
#main-display-panel {
	min-height: 250px;
}
.pumpkin {
	height: 40px;
	width: 40px;
	margin: 20px;
}
.row {
	min-height: 25px;
	height: 30%;
}
.panel {
	min-height: 100px;
}
.winmsg {
	font-size: 30px;
	color: orange;
}
.msgclass {
	font-size: 20px;
	color: white;
}
.lossmsg {
	font-size: 30px;
	color: grey;
}
.container-margin {
	    margin-top: 100px;
}
.margin-underline {

	border-bottom-width: 3px;
	border-color: white;
	border-bottom-style: solid;
	margin-bottom: 30px;
}
.guessed {
	float: left;
}
.is-hidden-info-message {
	display: none ; 
}
.letters {
	display: inline-block;
}
.hangman-letters{
	width: 100%;
}
.hide-img {
	background-color: white;
}

@media screen and (max-width: 640px) {
.hide-img {
	background-color: orange;
}

}